<nav id=nav_designers class="clr @ViewBag.DesignerClass">
 <ul class="serif strike inline">
  <li><a href="@Url.ChicamanchaUrl()" id=nav_designers_cm rel="@ViewBag.RegisterLink">Chicamancha</a></li>
  <li><a href="@Url.VivianeDevauxUrl()" id=nav_designers_vd rel="@ViewBag.RegisterLink">Viviane Devaux</a></li>
  <li><a href="@Url.ChristineLégeretUrl()" id=nav_designers_cl rel="@ViewBag.RegisterLink">Christine Légeret</a></li>
  <li class=last><a href="@Url.LaureRousselUrl()" id=nav_designers_lr rel="@ViewBag.RegisterLink">Laure Roussel</a></li>
 </ul>
</nav>
