@model DesignerViewModel

<div id=info class=darkgrey>
 <p>@Model.Designer.Presentation</p>
 <nav>
  <ul>
   <li><a href="@Url.Designer(Model.Designer.Key)">@VR.Category_All (@Model.PatternsCount)</a></li>
   @foreach (var category in Model.Categories) {
    <li><a href="@Url.Category(Model.Designer.Key, category.Key)">@category.DisplayName (@category.PatternsCount)</a></li>
   }
  </ul>
 </nav>
 <p><a href="mailto:@Model.Designer.EmailAddress" class=darkgrey>@Model.Designer.EmailAddress</a></p>
</div>
