@using Chiffon.Infrastructure

<!DOCTYPE html>
<html lang="@ViewBag.LanguageName">
<head>
 <meta charset="utf-8" />
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 <title>@ViewBag.Title</title>
 <meta name=description content="@ViewBag.MetaDescription" />
 <meta name=keywords content="@ViewBag.MetaKeywords" />
 <meta name=copyright content="Copyright © 2013 Pour quel motif Simone ?" />
 <meta name=robots content="@ViewBag.MetaRobots" />
 <meta name=viewport content="width=device-width, initial-scale=1" />
 @*<base href="/"/>*@
 <link rel=canonical href="@ViewBag.CanonicalLink"/>
 <link rel=author href="/humans.txt" type="text/plain" />
 @{Html.RenderAction(ActionName.Widget.CommonStylesheet, ControllerName.Widget);}
 @{Html.Partial(ViewName.Shared.Html5Shim);}
</head>
<body id="@ViewBag.BodyId">
 <header>
  <h1>@Html.PageTitle((ChiffonLanguage)ViewBag.Language)</h1>
  <nav id=nav_lang class=clr>
   @{Html.RenderAction(ActionName.Widget.LanguageMenu, ControllerName.Widget, new { language = ViewBag.Language });}
   @*@ViewHelpers.LanguageMenu((ChiffonLanguage)ViewBag.Language)*@
  </nav>
  <nav id=nav_main class=clr>
   <ul class=center>
    <li><a href="@Url.RouteUrl(RouteName.Home.Index)" id=nav_home>@VR.Layout_Nav_Home</a></li>
    @*<li class=sep>/</li>
    <li><a href="//pourquelmotifsimone.blogspot.fr" id=nav_blog rel=external target=_blank>@VR.Layout_Nav_Blog</a></li>*@
    <li class=sep>/</li>
    <li><a href="@Url.RouteUrl(RouteName.Home.About)" id=nav_info>@VR.Layout_Nav_About</a></li>
    <li class=sep>/</li>
    <li><a href="@Url.RouteUrl(RouteName.Home.Contact)" id=nav_contact>@VR.Layout_Nav_Contact</a></li>
    <li class=right><a href="@Url.RouteUrl(RouteName.Contact.Newsletter)" id=nav_newsletter>@VR.Layout_Nav_Newsletter</a></li>
   </ul>
  </nav>
 </header>
 <div id=content class="@ViewBag.BodyId">
  @RenderBody()
 </div>
 <footer class=darkgrey>
  <p id=legal>@Html.Raw(VR.Layout_Disclaimer)</p>
  <p id=copyright>@Html.Raw(VR.Layout_Copyright)</p>
 </footer>
 @{Html.RenderAction(ActionName.Widget.CommonJavaScript, ControllerName.Widget, new { bodyId = ViewBag.BodyId });}
 @{Html.RenderAction(ActionName.Widget.GoogleAnalytics, ControllerName.Widget);}
</body>
</html>
