@using Chiffon.Entities

<nav id=nav_members class=clr>
 <ul class="serif strike inline">
  <li><a href="@Url.Member(DesignerKey.Chicamancha)" id=nav_members_cm rel="@ViewBag.ModalClass">Chicamancha</a></li>
  <li><a href="@Url.Member(DesignerKey.VivianeDevaux)" id=nav_members_vd rel="@ViewBag.ModalClass">Viviane Devaux</a></li>
  <li><a href="@Url.Member(DesignerKey.ChristineLégeret)" id=nav_members_cl rel="@ViewBag.ModalClass">Christine Légeret</a></li>
  <li class=last><a href="@Url.Member(DesignerKey.LaureRoussel)" id=nav_members_lr rel="@ViewBag.ModalClass">Laure Roussel</a></li>
 </ul>
</nav>
