@model IEnumerable<PatternViewItem>

<ul class="mosaic shadow len_100 clr">
 @foreach (var preview in Model) {
  <li><a href="@Url.Pattern(preview.DesignerKey, preview.CategoryKey, preview.Reference)" rel="@ViewBag.RegisterLink" class="vignette @preview.CssClass">
   <img src="@Url.PreviewContent(preview.DesignerKey, preview.Reference)" alt="@preview.Description" /></a></li>
 }
</ul>
