<div class=account_login>
 <div class="text_center serif serif_large">
  <p class=hello>@VR.AccountRegister_Hello</p>
  <p>@Html.Raw(VR.AccountLogin_DescriptionHtml)</p>
 </div>
 <form method=post action="/connecte" class=text_center id=login_form>
  <p id=error_container class="serif serif_medium error_container"></p>
  <p>
   <input type=password autofocus placeholder="@VR.AccountRegister_Password" name=token required=required maxlength=25 class=highlight />
   <input type=hidden value="@ViewBag.ReturnUrl" name=targeturl />
  </p>
  <p>
   <input type=submit value="@VR.AccountRegister_Validate" class="serif serif_large" />
  </p>
  <p class="serif serif_large">
   <a href="@Url.RouteUrl(RouteName.Account.Register)" class="reverse underline" rel="@ViewBag.ModalRelation">@VR.AccountRegister_RequestPassword</a>
  </p>
 </form>
</div>
