@using Chiffon.Infrastructure

@model LoginViewModel

<div class="account_login text_center">
 <h2>@VR.Account_Login_Heading</h2>
 <p class=switch>
  <a href="@Url.RouteUrl(Constants.RouteName.Account.Register, new { returnUrl = Model.ReturnUrl })">@VR.Account_Login_NewUser</a>
 </p>
 <form method=post action="~/connecte" id=login_form class=custom_form>
  @*<p id=error_container class=error_container></p>*@
  <ul>
   <li>
    <label for=email>@VR.Account_Login_Email</label>
    @*SHOWCASE*@
    <input type=email placeholder="@VR.Account_Login_Email" value="DEMO@vivianedevaux.org" name=email required=required maxlength=200 spellcheck=false class=highlight />
   </li>
   <li>
    <label for=password>@VR.Account_Login_Password</label>
    @*SHOWCASE*@
    <input type=password placeholder="@VR.Account_Login_Password" value="MOTDEPASSE" name=password required=required maxlength=25 class=highlight />
   </li>
  </ul>
  <p class=inside_form>
   <a href="@Url.RouteUrl(Constants.RouteName.Account.Register, new { returnUrl = Model.ReturnUrl })">@VR.Account_Login_Register</a>
  </p>
  <input type=hidden value="@Model.ReturnUrl" name=targeturl />
  <p>
   <input type=submit value="@VR.Account_Login_Submit" />
  </p>
  <p class=mandatory_warning>
   @VR.Account_Login_MandatoryFields
  </p>
 </form>
</div>
