@using Chiffon.Infrastructure

<div class="account_login text_center serif fx_topborder">
 <div class="serif_large">
  @Html.Partial(ViewName.Account.LoginContent, (ChiffonLanguage)ViewBag.Language)
 </div>
 <form method=post action="/connecte" id=login_form>
  <p id=error_container class="serif_medium error_container"></p>
  <p>
   <input type=password autofocus placeholder="@VR.Account_Login_Password" name=token required=required maxlength=25 class="sansserif highlight" />
   <input type=hidden value="@ViewBag.ReturnUrl" name=targeturl />
  </p>
  <p>
   <input type=submit value="@VR.Account_Login_Validate" class="serif serif_large" />
  </p>
  <p class="serif_large">
   <a href="@Url.RouteUrl(RouteName.Account.Register)" class="loose text_underline">@VR.Account_Login_RequestPassword</a>
  </p>
 </form>
</div>
