@using Chiffon.Infrastructure

@model RegisterViewModel

<div class=account_register>
 <h2>@VR.Account_Register_Heading</h2>
 <p class=switch>
  @VR.Account_Register_AlreadyRegistered
  <a href="@Url.RouteUrl(Constants.RouteName.Account.Login)?returnUrl=@Model.ReturnUrl">@VR.Account_Register_Connect</a>
 </p>
 @Html.ValidationSummary()
 <form method=post action="@Url.RouteUrl(Constants.RouteName.Account.Register)" id=register_form class=custom_form>
  @*<p id=error_container class=error_container>@VR.Account_Register_ValidationMessage</p>*@
  <ul>
   <li>
    <label for="LastName">@VR.Account_Register_Lastname</label>
    @Html.TextBoxFor(_ => _.LastName, new { @class = "highlight", @required = "required", @placeholder = VR.Account_Register_Lastname })
   </li>
   <li>
    <label for=FirstName>@VR.Account_Register_Firstname</label>
    @Html.TextBoxFor(_ => _.FirstName, new { @class = "highlight", @required = "required", @placeholder = VR.Account_Register_Firstname })
   </li>
   <li>
    <label for=CompanyName>@VR.Account_Register_CompanyName</label>
    @Html.TextBoxFor(_ => _.CompanyName, new { @class = "highlight", @required = "required", @placeholder = VR.Account_Register_CompanyName })
   </li>
   <li>
    <label for=Email>@VR.Account_Register_Email</label>
    @Html.TextBoxFor(_ => _.Email, new { @class = "highlight", @required = "required", @type = "email", @placeholder = VR.Account_Register_Email })
   </li>
  </ul>
  <p class=inside_form>
   @*@Html.CheckBoxFor(_ => _.Newsletter, new { @checked = "checked" })*@
   <input type="checkbox" id="Newsletter" name="Newsletter" checked="checked" />
   <label for=Newsletter class=newsletter><span></span>@VR.Account_Register_Newsletter</label>
  </p>
  @Html.HiddenFor(_ => _.ReturnUrl)
  @Html.AntiForgeryToken()
  <p>
   <input type=submit value="@VR.Account_Register_Submit" />
  </p>
  <p class=mandatory_warning>
   @VR.Account_Register_MandatoryFields
  </p>
 </form>
</div>
