@model RegisterViewModel

<div class="account_register serif text_center ui_topborder">
 <p class="serif_large">
  @Html.Raw(VR.Account_Register_Welcome)
 </p>
 <p class="serif_large">
  @Html.Raw(VR.Account_Register_WarningHtml)
 </p>
 <div class=ui_doubleline></div>
 <p class="serif_medium">
  @Html.Raw(VR.Account_Register_DescriptionHtml)
 </p>
 @Html.ValidationSummary()
 <form method=post action="@Url.RouteUrl(RouteName.Account.Register)" class=sansserif id=register_form>
  <p id=error_container class="serif serif_medium error_container">@VR.Account_Register_ValidationMessage</p>
  <p>
   <label for=EmailAddress>@VR.Account_Register_EmailAddress</label>
   @Html.TextBoxFor(_ => _.EmailAddress, new { @class = "highlight", @required = "required", @type = "email", @placeholder = VR.Account_Register_EmailAddress })
  </p>
  <p>
   <label for="Lastname">@VR.Account_Register_Lastname</label>
   @Html.TextBoxFor(_ => _.Lastname, new { @class = "highlight", @required = "required", @placeholder = VR.Account_Register_Lastname })
  </p>
  <p>
   <label for=Firstname>@VR.Account_Register_Firstname</label>
   @Html.TextBoxFor(_ => _.Firstname, new { @class = "highlight", @required = "required", @placeholder = VR.Account_Register_Firstname })
  </p>
  <p>
   <label for=CompanyName>@VR.Account_Register_CompanyName</label>
   @Html.TextBoxFor(_ => _.CompanyName, new { @class = "highlight", @required = "required", @placeholder = VR.Account_Register_CompanyName })
  </p>
  <p>
   <input type="checkbox" id="Newsletter" name="Newsletter" checked="checked" />
   <label for=Newsletter class=newsletter><span></span>Oui, je veux recevoir la gazette mensuelle des Simone !</label>
  </p>
  @Html.HiddenFor(_ => _.ReturnUrl)
  <p>
   <input type=submit value="@VR.Account_Register_Submit" />
  </p>
  <p>
   * Ces champs sont obligatoires
  </p>
 </form>
 @*<p class="serif_large">
  <a href="@Url.RouteUrl(RouteName.Account.Login)" class=text_underline rel="@ViewBag.ModalRelation">@VR.Account_Register_Login</a>
 </p>*@
</div>
