@model RegisterViewModel

<div class=account_register>
 <p class="serif serif_large grey center">
  @Html.Raw(VR.AccountRegister_DescriptionHtml)
 </p>
 @Html.ValidationSummary()
 <form method=post action="@Url.RouteUrl(RouteName.Account.Register)" class=clearfix id=register_form>
  <p id=error_container class="serif serif_medium grey">@VR.AccountRegister_ValidationMessage</p>
  <div class=left>
   <p>
    <label for="name" class=break>* @VR.AccountRegister_Lastname</label>
    @Html.TextBoxFor(_ => _.Lastname, new { @class = "highlight", @required = "required" })
   </p>
   <p>
    <label for=firstname class=break>* @VR.AccountRegister_Firstname</label>
    @Html.TextBoxFor(_ => _.Firstname, new { @class = "highlight", @required = "required" })
   </p>
   <p>
    <label for=agency class=break>* @VR.AccountRegister_CompanyName</label>
    @Html.TextBoxFor(_ => _.CompanyName, new { @class = "highlight", @required = "required" })
   </p>
   <p>
    <label for=email_address class=break>* @VR.AccountRegister_EmailAddress</label>
    @Html.TextBoxFor(_ => _.EmailAddress, new { @class = "highlight", @required = "required", @type = "email" })
   </p>
  </div>
  <div class=right>
   <label for=subject class=break>@VR.AccountRegister_Message</label>
   @Html.TextAreaFor(_ => _.Message)
   @Html.HiddenFor(_ => _.ReturnUrl)
   <p class=submit>
    <input type=submit value="@VR.AccountRegister_Submit" />
   </p>
  </div>
 </form>
 <p class="serif serif_large grey center">
  <a href="@Url.RouteUrl(RouteName.Account.Login)" class=underline rel="@ViewBag.ModalRelation">@VR.AccountRegister_Login</a>
 </p>
</div>
