@using Chiffon.Entities

<nav class="clr designers strike @ViewBag.DesignerClass">
 <ul class="serif inline">
  <li><a href="@Url.Designer(DesignerKey.EstherMarthi, 1)" class=em rel="@ViewBag.ModalRelation">Chicamancha</a></li>
  <li><a href="@Url.Designer(DesignerKey.VivianeDevaux, 1)" class=vd rel="@ViewBag.ModalRelation">Viviane Devaux</a></li>
  <li><a href="@Url.Designer(DesignerKey.ChristineLégeret, 1)" class=cl rel="@ViewBag.ModalRelation">Petroleum Blue</a></li>
  <li class=last><a href="@Url.Designer(DesignerKey.LaureRoussel, 1)" class=lr rel="@ViewBag.ModalRelation">Laure Roussel</a></li>
 </ul>
</nav>
