@using Chiffon.Entities
@using Chiffon.Infrastructure
@using Narvalo.Web.Semantic

<!DOCTYPE html>
<html lang="@Ontology.LanguageName" prefix="@Ontology.OpenGraphNamespace">
<head>
 <meta charset="utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
 <title>@Ontology.Title</title>
 @if (LayoutViewModel.DisableOntology) {
  <meta name=robots content="noindex, nofollow" />
 }
 else {
  @OntologyHelpers.StandardMetadata(Ontology)
  @OntologyHelpers.OpenGraphMetadata(Ontology.OpenGraph)
  @OntologyHelpers.RelationshipLinks(Ontology.Relationships)
 }
 <meta name=viewport content="width=device-width, initial-scale=1" />
 @{
  RenderWidget(Constants.ActionName.Widget.CommonStyleSheet);
  RenderWidget(Constants.ActionName.Widget.Html5Shim);
 }
</head>
<body itemscope itemtype="@Ontology.SchemaOrg.ItemType">
 <header>
  <h1>
   <a href="@Url.RouteUrl(Constants.RouteName.Home.Index)">@{ RenderWidget(Constants.ActionName.Widget.Title, true /* localized */); }</a>
  </h1>
  <nav class="clearfix nav_lang">
   @{
    RenderComponent(Constants.ActionName.Component.LanguageMenu, new
    {
     alternateUrls = LayoutViewModel.AlternateUrls,
     language = Language,
    });
   }
  </nav>
  <nav class="menu @LayoutViewModel.MainMenuCssClass">
   <ul class=li_center>
    <li><a href="@Url.RouteUrl(Constants.RouteName.Home.Index)" class=index>@VR.Layout_Nav_Home</a></li>
    <li class=sep>/</li>
    <li><a href="@Url.RouteUrl(Constants.RouteName.Home.About)" class=about>@VR.Layout_Nav_About</a></li>
    <li class=sep>/</li>
    <li><a href="@Url.RouteUrl(Constants.RouteName.Home.Contact)" class=contact>@VR.Layout_Nav_Contact</a></li>
    @{ Html.RenderPartial(Constants.ViewName.UserMenu); }
   </ul>
  </nav>
  <nav class="clearfix designers_menu fx_strike @LayoutViewModel.DesignerMenuCssClass">
   <ul class="serif li_inline">
    <li><a href="@Url.Designer(DesignerKey.EstherMarthi, 1)" class=em rel="@FollowRelation">Chicamancha</a></li>
    <li><a href="@Url.Designer(DesignerKey.VivianeDevaux, 1)" class=vd rel="@FollowRelation">Viviane Devaux</a></li>
    <li><a href="@Url.Designer(DesignerKey.ChristineLégeret, 1)" class=cl rel="@FollowRelation">Petroleum Blue</a></li>
    <li><a href="@Url.Designer(DesignerKey.LaureRoussel, 1)" class=lr rel="@FollowRelation">Laure Roussel</a></li>
   </ul>
  </nav>
 </header>
 <section>
  @if (LayoutViewModel.MainHeading.Length > 0) {
   <h1 class=fx_bottomborder>@LayoutViewModel.MainHeading<span></span></h1>
  }
  @RenderBody()
 </section>
 <footer>
  <nav class="menu secondary_menu fx_topborder fx_bottomborder">
   <ul class=li_center>
    <li><a class="last_elmt loose" href="mailto:@(Constants.ContactAddress)">@Constants.ContactAddress</a></li>
   </ul>
  </nav>
  @{
   RenderWidget(Constants.ActionName.Widget.AuthorsRights, true /* localized */);
   RenderWidget(Constants.ActionName.Widget.Copyright);
  }
 </footer>
 @{
  RenderComponent(Constants.ActionName.Component.CommonJavaScript, new
  {
   actionName = LayoutViewModel.ActionName,
   controllerName = LayoutViewModel.ControllerName,
  });
  RenderWidget(Constants.ActionName.Widget.GoogleAnalytics);
 }
</body>
</html>
