@using Chiffon.Infrastructure

<!DOCTYPE html>
<html lang="@ViewBag.LanguageName">
<head>
 <meta charset="utf-8" />
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 <title>@ViewBag.Title</title>
 <meta name=description content="@ViewBag.MetaDescription" />
 <meta name=keywords content="@ViewBag.MetaKeywords" />
 <meta name=copyright content="Copyright © 2013 Pour quel motif Simone ?" />
 <meta name=robots content="@ViewBag.MetaRobots" />
 <meta name=viewport content="width=device-width, initial-scale=1" />
 @*<base href="/"/>*@
 <link rel=canonical href="@ViewBag.CanonicalLink" />
 <link rel=author href="/humans.txt" type="text/plain" />
 @{Html.RenderAction(ActionName.Widget.CommonStylesheet, ControllerName.Widget);}
 @{Html.Partial(ViewName.Shared.Html5Shim);}
</head>
<body>
 <header>
  <h1>@Html.PageTitle((ChiffonLanguage)ViewBag.Language)</h1>
  <nav class="clearfix lang">
   @{Html.RenderAction(ActionName.Widget.LanguageMenu, ControllerName.Widget, new { language = ViewBag.Language });}
  </nav>
  <nav class="clearfix main @ViewBag.MainMenuClass">
   <ul class=center>
    <li><a href="@Url.RouteUrl(RouteName.Home.Index)" class=index>@VR.Layout_Nav_Home</a></li>
    <li class=sep>/</li>
    <li><a href="@Url.RouteUrl(RouteName.Home.About)" class=about>@VR.Layout_Nav_About</a></li>
    <li class=sep>/</li>
    <li><a href="@Url.RouteUrl(RouteName.Home.Contact)" class=contact>@VR.Layout_Nav_Contact</a></li>
    @*<li class=sep>/</li>
     <li><a href="@Url.RouteUrl(RouteName.Contact.Newsletter)" class=newsletter>@VR.Layout_Nav_Newsletter</a></li>*@
    <li class=float_right>
     @if (User.Identity.IsAuthenticated) {
      @*<a href="#" id=nav_account>Mon compte</a>*@
     }
     else {
      <a href="@Url.RouteUrl(RouteName.Account.Login)" class=login rel="modal:open">Login</a>
     }
    </li>
   </ul>
  </nav>
  @RenderSection("SecondaryNav", false /* required */)
 </header>
 @RenderBody()
 <footer>
  <p>@Html.Raw(VR.Layout_DisclaimerHtml)</p>
  <p>@VR.Layout_Copyright</p>
 </footer>
 @{Html.RenderAction(ActionName.Widget.CommonJavaScript, ControllerName.Widget, new
 {
  actionName = ViewBag.ActionName,
  controllerName = ViewBag.ControllerName,
  languageName = ViewBag.LanguageName,
 });}
 @{Html.RenderAction(ActionName.Widget.GoogleAnalytics, ControllerName.Widget);}
</body>
</html>
