@using Chiffon.Infrastructure

<!DOCTYPE html>
<html lang="@ViewBag.LanguageName" prefix="og: http://ogp.me/ns#">
<head>
 <meta charset="utf-8" />
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
 <title>@ViewBag.Title</title>
 <meta name=description content="@ViewBag.MetaDescription" />
 <meta name=keywords content="@ViewBag.MetaKeywords" />
 <meta name=copyright content="Copyright © 2013 Pour quel motif, Simone ?" />
 <meta name=robots content="@ViewBag.MetaRobots" />
 <meta name=viewport content="width=device-width, initial-scale=1" />
 @* OpenGraph *@
 @*<meta property="og:title" content="@ViewBag.Title" />
 <meta property="og:type" content="website" />
 <meta property="og:url" content="@ViewBag.CanonicalLink" />
 <meta property="og:image" content="http://wznw.org/chiffon/img/logo.png" />
 <meta property="og:image:type" content="image/png" />
 <meta property="og:image:width" content="144" />
 <meta property="og:image:height" content="144" />
 <meta property="og:description" content="@ViewBag.MetaDescription" />*@
 @*<base href=" />"/>*@
 <link rel=canonical href="@ViewBag.CanonicalLink" />
 <link rel=author href="/humans.txt" type="text/plain" />
 @{Html.RenderAction(ActionName.Widget.CommonStyleSheet, ControllerName.Widget);}
 @{Html.Partial(ViewName.Html5Shim);}
</head>
<body itemscope itemtype="@ViewBag.SchemaWebPage">
 <header>
  <h1>@Html.LayoutTitle((ChiffonLanguage)ViewBag.Language)</h1>
  <nav class="clearfix nav_lang">
   @{Html.RenderAction(ActionName.Widget.LanguageMenu, ControllerName.Widget, new { language = ViewBag.Language });}
  </nav>
  <nav class="nav_main @ViewBag.MainMenuClass">
   <ul class=li_center>
    <li><a href="@Url.RouteUrl(RouteName.Home.Index)" class=index>@VR.Layout_Nav_Home</a></li>
    <li class=sep>/</li>
    <li><a href="@Url.RouteUrl(RouteName.Home.About)" class=about>@VR.Layout_Nav_About</a></li>
    <li class=sep>/</li>
    <li><a href="@Url.RouteUrl(RouteName.Home.Contact)" class=contact>@VR.Layout_Nav_Contact</a></li>
    @*<li class=sep>/</li>
     <li><a href="@Url.RouteUrl(RouteName.Contact.Newsletter)" class=newsletter>@VR.Layout_Nav_Newsletter</a></li>*@
    <li class=account>
     @if (User.Identity.IsAuthenticated) {
      <form method=post action="/disconnecte"><input type=submit value="@VR.Layout_Nav_Logout"></form>
      @*<a href="#" id=nav_account>Mon compte</a>*@
     }
     else {
      @*<a href="@Url.RouteUrl(RouteName.Account.Register)">@VR.Layout_Nav_Register</a> @:/*@
      <a href="@Url.RouteUrl(RouteName.Account.Login)" rel="modal:open">@VR.Layout_Nav_Login</a>
     }
    </li>
   </ul>
  </nav>
  @RenderSection("SecondaryNav", false /* required */)
 </header>
 @RenderBody()
 <footer>
  @Html.LayoutAuthorsRights((ChiffonLanguage)ViewBag.Language)
  @Html.Partial(ViewName.LayoutCopyright)
 </footer>
 @{Html.RenderAction(ActionName.Widget.CommonJavaScript, ControllerName.Widget, new
 {
  actionName = ViewBag.ActionName,
  controllerName = ViewBag.ControllerName,
  languageName = ViewBag.LanguageName,
 });}
 @{Html.RenderAction(ActionName.Widget.GoogleAnalytics, ControllerName.Widget);}
</body>
</html>
