@using Chiffon.Resources

<div style="text-align: center;">
 <p style="font-family: serif; font-style: italic; font-size: 3em; color: #ccc;">
  @MailResources.Welcome_Thanks
 </p>
 <p style="font-family: serif; font-style: italic; font-size: 3em; color: #000;">
  @MailResources.Welcome_ActivationStart <a href="#" style="color:#000;text-decoration:none;">@MailResources.Welcome_ActivationLinkText</a> !
 </p>
 <p><a href="#" style="text-transform: uppercase; color: #000; border: 1px solid #000; padding: 1em;">@MailResources.Welcome_BrowseGallery</a></p>
 <ul style="font-family: serif; font-style: italic; font-size: 2em; color: #ccc;; list-style: none;">
  <li>@MailResources.Welcome_YourLogin @ViewBag.EmailAddress</li>
  <li>@MailResources.Welcome_YourPassword @ViewBag.Password</li>
 </ul>
 <p>
  @MailResources.Welcome_ExpirationWarning
 </p>
 <p>
  @MailResources.Welcome_RenewStart <a href="#">@MailResources.Welcome_RenewLinkText</a>.
 </p>
</div>