@using System.Configuration
@using System.Web.Mvc
@using Chiffon.Common
@using Chiffon.Infrastructure
@using Chiffon.Resources
@using Chiffon.ViewModels

@* Generator: MvcHelper Namespace: Chiffon.Common*@

@helper Pager(UrlHelper Url, DesignerViewModel Model)
{
 <p id=pager class=pager>
  @if (Model.IsFirstPage) {
   @VR.Pager_Previous
  }
  else {
   <a href="@Url.Designer(Model.Designer.Key, Model.PageIndex - 1)">@VR.Pager_Previous</a>
  }
  /
  @if (Model.IsLastPage) {
   @VR.Pager_Next
  }
  else {
   <a id=next_page class=more href="@Url.Designer(Model.Designer.Key, Model.PageIndex + 1)">@VR.Pager_Next</a>
  }
  - @Model.PageIndex @VR.Pager_Of @Model.PageCount
 </p>
}

@helper Pager(UrlHelper Url, CategoryViewModel Model)
{
 <p id=pager class=pager>
  @if (Model.IsFirstPage) {
   @VR.Pager_Previous
  }
  else {
   <a href="@Url.Category(Model.Designer.Key, Model.Category.Key, Model.PageIndex - 1)">@VR.Pager_Previous</a>
  }
  /
  @if (Model.IsLastPage) {
   @VR.Pager_Next
  }
  else {
   <a id=next_page class=more href="@Url.Category(Model.Designer.Key, Model.Category.Key, Model.PageIndex + 1)">@VR.Pager_Next</a>
  }
  - @Model.PageIndex @VR.Pager_Of @Model.PageCount
 </p>
}

@helper Pager(UrlHelper Url, PatternViewModel Model)
{
 // On ajoute l'attribut "rel=nofollow" car il s'agit toujours au final du même motif.
 <p id=pager class=pager>
  @if (Model.IsFirstPage) {
   @VR.Pager_Previous
  }
  else {
   <a rel=nofollow href="@Url.Pattern(Model.Designer.Key, Model.Category.Key, Model.Reference, Model.PageIndex - 1)">@VR.Pager_Previous</a>
  }
  /
  @if (Model.IsLastPage) {
   @VR.Pager_Next
  }
  else {
   <a id=next_page class=more rel=nofollow href="@Url.Pattern(Model.Designer.Key, Model.Category.Key, Model.Reference, Model.PageIndex + 1)">@VR.Pager_Next</a>
  }
  - @Model.PageIndex @VR.Pager_Of @Model.PageCount
 </p>
}

@*@helper LanguageMenu(ChiffonLanguage language)
 {
  switch (language) {
   case ChiffonLanguage.English:
  <ul class="inline float_right">
   <li>EN</li>
   <li class=sep>/</li>
   <li><a class=loose href="//pourquelmotifsimone.com">FR</a></li>
  </ul>
    break;
   case ChiffonLanguage.Default:
  <ul class="inline float_right">
   <li><a class=loose href="//en.pourquelmotifsimone.com">EN</a></li>
   <li class=sep>/</li>
   <li>FR</li>
  </ul>
    break;
  }
 }*@

@*@helper GoogleAnalytics(ChiffonConfig config)
 {
  if (!String.IsNullOrWhiteSpace(config.GoogleAnalytics)) {
  <script>
   (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function() {
     (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
   })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
   ga('create', '@config.GoogleAnalytics', 'pourquelmotifsimone.com');
   ga('send', 'pageview');
  </script>
  }
 }*@

@*@helper DesignerWebSite(Uri url)
 {
  var website = url.ToString().Replace("http://", String.Empty);
  <li class="web sansserif"><a href="//@website" rel=external target=_blank>@website</a></li>
 }*@
