@using Chiffon.Entities

@model DesignerViewModel

@Html.Partial(ViewName.Shared.DesignerMenu)
<div id=designer>
 @Html.Partial(ViewName.Shared.DesignerInfo)
 <ul class="mosaic patterns">
  @foreach (var pattern in Model.Patterns) {
   <li data-watermark="ref @pattern.Reference" class=pattern>
    <img src="@Url.PatternContent(pattern.DesignerKey, pattern.Reference, pattern.Version)" alt="@pattern.Description" /></li>
  }
 </ul>
</div>
