@using Chiffon.Entities

@model DesignerViewModel

@Html.Partial(ViewName.Shared.DesignerMenu)
<div id=designer>
 @Html.Partial(ViewName.Shared.DesignerInfo)
 <ul class="mosaic len_75 clr">
  @foreach (var preview in Model.Patterns) {
   <li><a href="@Url.Pattern(preview.DesignerKey, preview.CategoryKey, preview.Reference)" class=vignette>
    <img src="@Url.PreviewContent(preview.DesignerKey, preview.Reference, preview.Version)" alt="@preview.Description" /><div class="overlay"></div>
   </a></li>
  }
 </ul>
</div>
