@using Chiffon.Entities

@model PatternViewModel

@Html.Partial("_MemberMenu")
<div id=designer>
 <div id=description>
  <p>@Model.Presentation</p>
  <nav id=categories>
   <ul>
    <li><a href="@Url.Designer(Model.DesignerKey)">@VR.Category_All (@Model.PatternCount)</a></li>
    @foreach (var category in Model.Categories) {
     <li><a href="@Url.Category(Model.DesignerKey, category.Reference)">@category.DisplayName (@category.PatternCount)</a></li>
    }
   </ul>
  </nav>
  <p><a href="#">@Model.EmailAddress</a> </p>
 </div>
 <img src="@Url.PatternContent(Model.Pattern.DesignerKey, Model.Pattern.Reference)" class=motif alt="@Model.Pattern.Description" />
 <ul class="mosaic clr">
  @foreach (var preview in Model.Previews) {
   <li><a href="@Url.Pattern(preview.DesignerKey, preview.Reference)" class="vignette @preview.CssClass">
    <img src="@Url.PreviewContent(preview.DesignerKey, preview.Reference)" alt="@preview.Description" /></a></li>
  }
 </ul>
</div>
