@using Chiffon.Resources

<!DOCTYPE html>
<html lang="@ViewBag.LanguageName">
<head>
 <title></title>
 <style type="text/css">
  .ReadMsgBody { width: 100%; }
  .ExternalClass { width: 100%; }
  BODY { background-color: #fff; margin: 0; padding: 0; color: #666; font-family: Arial,Helvetica,sans-serif; font-size: 13px; }
  TABLE { margin: auto; }
  A { color: #000; }
  P { margin: 1em; }
  v\:* { behavior: url(#default#VML); display: inline-block; }
 </style>
</head>
<body style="width: 600px;">
 <h1 style="text-transform: uppercase; font-size: 1em; color: #ccc; text-align:center;">
  @MailResources.Layout_Title
 </h1>
 <ul style="font-family: serif; font-style: italic; font-size: 1.2em; padding: 1em; list-style: none; border-top: 1px solid #000; border-bottom: 1px solid #000; ">
  <li style="float:left;">Chicamancha</li>
  <li style="float:left;">Viviane Devaux</li>
  <li style="float:left;">Petroleum Blue</li>
  <li style="float:left;">laure Roussel</li>
 </ul>
 <div style="clear:both;"></div>
 @RenderBody()
 <ul style="text-transform: uppercase; list-style: none;">
  <li>@MailResources.Layout_Nav_About</li>
  <li>@MailResources.Layout_Nav_Contact</li>
  <li>@MailResources.Layout_Nav_Unsubscribe</li>
 </ul>
</body>
</html>