@{
 ViewBag.Title = "Welcome";
 Layout = "~/Views/MailMerge/_Layout.cshtml";

 // Cf. http://www.sitepoint.com/eight-definitive-font-stacks/
 // Cf. http://coding.smashingmagazine.com/2009/09/22/complete-guide-to-css-font-stacks/
 // Cf. http://awesome-fontstacks.com/bundles/new?family_ids=244%2C244%2C244%2C235

 var bodyWidth = "668";
 // Sans-sérif.
 var fontSmall = "font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif, sans-serif; font-size: 11px";
 var fontMedium = "font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 13px";
 var fontLarge = "font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 14px";
 // Sérif.
 var serifSmall = "font-family: \"Georgia\", \"Times New Roman\", \"Palatino\", \"Hoefler Text\", \"Baskerville\", serif; font-style:italic; font-size: 20px";
 var serifMedium = "font-family: \"Georgia\", \"Times New Roman\", \"Palatino\", \"Hoefler Text\", \"Baskerville\", serif; font-style:italic; font-size: 26px";
 var serifLarge = "font-family: \"Georgia\", \"Times New Roman\", \"Palatino\", \"Hoefler Text\", \"Baskerville\", serif; font-style:italic; font-size: 34px";
}
@* Avertissement pour les clients email obsolètes *@
<table width="@bodyWidth" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
 <tr>
  <td align="right" valign="bottom">
   <b style="@fontSmall;color:#999;">Having trouble reading this email? <a href="#" style="text-decoration: underline;">View it in your browser</a></b>
  </td>
 </tr>
</table>
@* Espacement *@
<table width="@bodyWidth" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
 <tr>
  <td>
   <img src="/assets/img/spacer.gif" alt="" width="1" height="40" style="display:block; margin:0;" border="0">
  </td>
 </tr>
</table>
@* Titre *@
<table width="@bodyWidth" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
 <tr>
  <td align="center" valign="bottom">
   <h1 style="@fontLarge;color:#999;font-weight:normal;"><a href="#">POUR QUEL MOTIF, SIMONE ?</a></h1>
  </td>
 </tr>
</table>
@* Espacement *@
<table width="@bodyWidth" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
 <tr>
  <td>
   <img src="/assets/img/spacer.gif" alt="" width="1" height="10" style="display:block; margin:0;" border="0">
  </td>
 </tr>
</table>
@* Menu des designers *@
<hr width="100%" height="2px" style="color:#fff" />
<table width="@bodyWidth" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
 <tr>
  <td align="center" valign="bottom" width="25%">
   <div style="@serifSmall;font-style:italic;">
    <a href="#">Chicamancha</a>
   </div>
  </td>
  <td align="center" valign="bottom" width="25%">
   <div style="@serifSmall;font-style:italic;">
    <a href="#">Viviane Devaux</a>
   </div>
  </td>
  <td align="center" valign="bottom" width="25%">
   <div style="@serifSmall;font-style:italic;">
    <a href="#">Petroleum Blue</a>
   </div>
  </td>
  <td align="center" valign="bottom" width="25%">
   <div style="@serifSmall;font-style:italic;">
    <a href="#">Laure Roussel</a>
   </div>
  </td>
 </tr>
</table>
<hr width="100%" height="2px" style="color:#fff" />
@* Espacement *@
<table width="@bodyWidth" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
 <tr>
  <td>
   <img src="/assets/img/spacer.gif" alt="" width="1" height="30" style="display:block; margin:0;" border="0">
  </td>
 </tr>
</table>
@* Contenu *@
<table width="@bodyWidth" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
 <tr>
  <td align="center" valign="bottom" width="100%">
   <p style="@serifLarge;color:#ccc;">
    Welcome,<br />
    Many thanks for your interest<br />
    in the Simone project.
   </p>
   <p style="@serifLarge;margin-bottom:.5em;">
    Here's your <a href="#" style="text-decoration: underline;">activation link</a>
   </p>
   <p style="@fontLarge;font-weight:bold;margin-top:0;margin-bottom:2.5em;">
    <a href="#" style="display:inline-block;border: 1px solid #000;padding: 1em 3em;">SEE THE GALLERY</a>
   </p>
   <img src="/assets/img/doubleline_grey.png" alt="" width=150 height=6 />
   <p style="@serifMedium;color:#ccc;">
    Your login: username@example.com <br />
    Your password: BHGY56
   </p>
   <img src="/assets/img/doubleline_grey.png" alt="" width=150 height=6 />
   <p style="@fontMedium;margin-top:2.5em">
    We remind you that you will have access to the collection for two days<br />
    allowing you and your team to make a decision.
   <p style="@fontMedium">
    After this time, you will have <a href="#" style="text-decoration: underline;">to reset your password</a>.
   </p>
  </td>
 </tr>
</table>
@* Espacement *@
<table width="@bodyWidth" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
 <tr>
  <td>
   <img src="/assets/img/spacer.gif" alt="" width="1" height="40" style="display:block; margin:0;" border="0">
  </td>
 </tr>
</table>
<hr style="height: 1px; border: 0; border-top: 1px solid #ccc;" />
<table width="@bodyWidth" border="0" cellspacing="0" cellpadding="0" align="center" style="margin:0 auto">
 <tr>
  <td align=center>
   <p style="@fontSmall;color:#999;padding-bottom: 4em;">
    <a href="#" style="display: inline-block; padding-right: .5em">ABOUT</a>
    /
    <a href="#" style="display: inline-block; padding-left: .5em; padding-right: .5em; ">CONTACT</a>
    /
    <a href="#" style="display: inline-block; padding-left: .5em; ">UNSUBSCRIBE</a>
   </p>
  </td>
 </tr>
</table>
