<div class=contact_login>
 <div class="center serif serif_large grey">
  <p id=hello>@Html.Raw(VR.ContactRegister_Hello)</p>
  <p>@Html.Raw(VR.ContactLogin_DescriptionHtml)</p>
 </div>
 <form method=post action="/connecte" class="center">
  <input type=password placeholder="@Html.Raw(VR.ContactRegister_Password)" name=token maxlength=25 class=highlight />
  <input type=hidden value="@ViewBag.ReturnUrl" name=targeturl />
  <p>
   <input type=submit value="@Html.Raw(VR.ContactRegister_Validate)" class="serif serif_large grey" />
  </p>
  <p class="serif serif_large">
   <a href="@Url.RouteUrl(RouteName.Contact.Register)" class="reverse underline" rel="register nofollow">@Html.Raw(VR.ContactRegister_RequestPassword)</a>
  </p>
 </form>
</div>
