@model RegisterViewModel

<div class=contact_register>
 <p class="serif serif_large grey center">
  @Html.Raw(VR.ContactRegister_DescriptionHtml)
 </p>
 @Html.ValidationSummary()
 <form method=post action="@Url.RouteUrl(RouteName.Contact.Register)" class=clr id=register_form>
  <p id=error_container class="serif serif_medium grey">@VR.ContactRegister_ValidationMessage</p>
  <div class=left>
   <p>
    <label for=name class=break>@Html.Raw(VR.ContactRegister_Lastname)</label>
    @Html.TextBoxFor(_ => _.Lastname, new { @class = "highlight", @required = "required" })
   </p>
   <p>
    <label for=firstname class=break>@Html.Raw(VR.ContactRegister_Firstname)</label>
    @Html.TextBoxFor(_ => _.Firstname, new { @class = "highlight", @required = "required" })
   </p>
   <p>
    <label for=agency class=break>@Html.Raw(VR.ContactRegister_CompanyName)</label>
    @Html.TextBoxFor(_ => _.CompanyName, new { @class = "highlight", @required = "required" })
   </p>
   <p>
    <label for=email_address class=break>@Html.Raw(VR.ContactRegister_EmailAddress)</label>
    @Html.TextBoxFor(_ => _.EmailAddress, new { @class = "highlight", @required = "required", @type = "email" })
   </p>
  </div>
  <div class=right>
   <label for=subject class=break>@Html.Raw(VR.ContactRegister_Message)</label>
   @Html.TextAreaFor(_ => _.Message)
   @Html.HiddenFor(_ => _.ReturnUrl)
   <p class=submit>
    <input type=submit value="@Html.Raw(VR.ContactRegister_Submit)" />
   </p>
  </div>
 </form>
 <p class="serif serif_large grey center">
  <a href="@Url.RouteUrl(RouteName.Contact.Login)" class=underline rel="@ViewBag.ModalRelation">@Html.Raw(VR.ContactRegister_Login)</a>
 </p>
</div>
