@model RegisterViewModel

<div class=contact_register>
 <p class="serif serif_large grey center">
  Pour obtenir votre mot de passe,<span class=break />
  veuillez remplir le formulaire.
 </p>
  @Html.ValidationSummary()
 <form method=post action="@Url.RouteUrl(RouteName.Contact.Register)" class=clr>
  <div class=left>
   <p>
    <label for=name class=break>Nom</label>
    @Html.TextBoxFor(_ => _.Lastname, new { @class = "highlight" })
    @*<input type=text name=name class=highlight value="@Model.Lastname" />*@
   </p>
   <p>
    <label for=firstname class=break>Prénom</label>
    @Html.TextBoxFor(_ => _.Firstname, new { @class = "highlight" })
    @*<input type=text name=firstname class=highlight />*@
   </p>
   <p>
    <label for=agency class=break>Agence</label>
    @Html.TextBoxFor(_ => _.CompanyName, new { @class = "highlight" })
    @*<input type=text name=agency class=highlight />*@
   </p>
   <p>
    <label for=email_address class=break>Email</label>
    @Html.TextBoxFor(_ => _.EmailAddress, new { @class = "highlight" })
    @*<input type=text name=email_address class=highlight />*@
   </p>
  </div>
  <div class=right>
   <label for=subject class=break>Sujet</label>
   @Html.TextAreaFor(_ => _.Message)
   @Html.HiddenFor(_ => _.ReturnUrl)
   @*<textarea name=subject class=highlight></textarea>*@
   @*<input type=hidden value="@ViewBag.ReturnUrl" name=targeturl />*@
   <p class=submit>
    <input type=submit value="Envoyer" />
   </p>
  </div>
 </form>
 <p class="serif serif_large grey center">
  <a href="@Url.RouteUrl(RouteName.Contact.Login)" class=underline rel=modal>J'ai déjà un mot de passe</a>
 </p>
</div>
