@using Chiffon.Entities

@model CategoryViewModel

@{
 Layout = "~/Views/Shared/_DesignerLayout.cshtml";
}

@Html.Partial(Constants.ViewName.DesignerInfo, Model.Designer)
<ul id=patterns class="mosaic clearfix">
 @foreach (var preview in Model.Previews) {
  <li>
   <a href="@Url.Pattern(preview.DesignerKey, preview.CategoryKey, preview.Reference, 1)" class=vignette>
    <img src="@Url.PreviewContent(preview.DesignerKey, preview.Reference, preview.Variant)" alt="@preview.Description" width=@ImageGeometry.PreviewWidth height=@ImageGeometry.PreviewHeight /><div class="overlay"></div><div class=watermark><span>@preview.Reference</span></div>
   </a>
  </li>
 }
</ul>
@if (Model.PageCount > 1) {
 @ViewHelpers.Pager(Url, Model)
}
