@using Chiffon.Entities

@model DesignerViewModel

@{
 Layout = "~/Views/Shared/_DesignerLayout.cshtml";
}

@Html.Partial(ViewName.DesignerInfo, Model.Designer)
<ul id=patterns class="mosaic clearfix">
 @foreach (var preview in Model.Previews) {
  var anchor = String.IsNullOrWhiteSpace(preview.Version) ? "" : "#" + preview.Version;
  <li>
   <a href="@Url.Pattern(preview.DesignerKey, preview.CategoryKey, preview.Reference, 1)@anchor" class=vignette>
    <img src="@Url.PreviewContent(preview.DesignerKey, preview.Reference, preview.Version)" alt="@preview.Description" width=@ImageGeometry.PreviewWidth height=@ImageGeometry.PreviewHeight /><div class="overlay"></div><div class=watermark><span>@preview.Reference</span></div>
   </a>
  </li>
 }
</ul>
@if (Model.PageCount > 1) {
 @ViewHelpers.Pager(Url, Model)
}
