@using Chiffon.Entities

@model PatternViewModel

@{
 Layout = "~/Views/Shared/_DesignerLayout.cshtml";

 var views = Model.PatternViews;
 var viewCount = views.Count();
}
@*
 Informations sur le designer.
*@
<div class=info_pattern>
 @{ Html.RenderPartial(Constants.ViewName.DesignerInfo, Model.Designer); }
</div>
@*
 Liste des vues du motif.
*@
<ul id=pattern class=pattern>
 @foreach (var view in Model.PatternViews) {
  var version = viewCount == 1 || String.IsNullOrWhiteSpace(view.Variant) ? "" : " (" + view.Variant + ")";
  <li id="@view.Variant">
   <img src="@Url.PatternContent(view.DesignerKey, view.Reference, view.Variant)" alt="@view.Description" width=@ImageGeometry.PatternWidth height=@ImageGeometry.PatternHeight /><div class=watermark><span>@VR.Pattern_Ref @Model.Reference @version</span></div>
  </li>
 }
</ul>
@*
 Navigation dans les vues du motif.
*@
<p id=pattern_nav class=pattern_nav>
 @if (viewCount > 1) {
  <span class=prev_noop>@VR.Pager_Previous</span>
  <a class="nodisplay prev" href="#">@VR.Pager_Previous</a>
  <span>/</span>
  <a class="next" href="#@views.Skip(1).Take(1).Single().Variant">@VR.Pager_Next</a>
  <span class="nodisplay next_noop">@VR.Pager_Next</span>
  @: -
  <span class=pos>1</span> @VR.Pager_Of @: @viewCount
 }
</p>
@*
 Liste des motifs dans la même catégorie.
*@
<ul id=patterns class="mosaic clearfix">
 @foreach (var preview in Model.Previews) {
  if (preview.Reference == Model.Reference) {
   <li class=current>
    <img class=vignette src="@Url.PreviewContent(preview.DesignerKey, preview.Reference, preview.Variant)" alt="@preview.Description" width=@ImageGeometry.PreviewWidth height=@ImageGeometry.PreviewHeight />
   </li>
  }
  else {
   <li>
    <a href="@Url.Pattern(preview.DesignerKey, preview.CategoryKey, preview.Reference, Model.PageIndex)" class=vignette>
     <img src="@Url.PreviewContent(preview.DesignerKey, preview.Reference, preview.Variant)" alt="@preview.Description" width=@ImageGeometry.PreviewWidth height=@ImageGeometry.PreviewHeight /><div class="overlay"></div><div class=watermark><span>@preview.Reference</span></div>
    </a>
   </li>
  }
 }
</ul>
@*
 Pagination pour la liste des motifs.
*@
@if (Model.PageCount > 1) {
 @ViewHelpers.Pager(Url, Model)
}

