@using Chiffon.Entities

@model PatternViewModel

@{
 Layout = "~/Views/Shared/_DesignerLayout.cshtml";

 var views = Model.PatternViews;
 var viewCount = views.Count();
}
@*
 Informations sur le designer.
*@
<div class=info_pattern>
 @Html.Partial(ViewName.Shared.DesignerInfo, Model.Designer)
</div>
@*
 Liste des vues du motif.
*@
<ul id=pattern class=pattern>
 @foreach (var view in Model.PatternViews) {
  var version = viewCount == 1 || String.IsNullOrWhiteSpace(@view.Version) ? "" : " (" + @view.Version + ")";
  <li id="@view.Version">
   <img src="@Url.PatternContent(view.DesignerKey, view.Reference, view.Version)" alt="@view.Description" /><div class=watermark><span>Ref @Model.Reference @version</span></div>
  </li>
 }
</ul>
@*
 Navigation dans les vues du motif.
*@
<p id=pattern_nav class=pattern_nav>
 @if (viewCount > 1) {
  <span class=prev_noop>@VR.Pager_Previous</span>
  <a class="nodisplay prev" href="#">@VR.Pager_Previous</a>
  <span>/</span>
  <a class="next" href="#@views.Skip(1).Take(1).Single().Version">@VR.Pager_Next</a>
  <span class="nodisplay next_noop">@VR.Pager_Next</span>
  @: -
  <span class=pos>1</span> @VR.Pager_Of @: @viewCount
 }
</p>
@*
 Liste des motifs dans la même catégorie.
*@
<ul id=patterns class="mosaic clearfix">
 @foreach (var preview in Model.Previews) {
  var anchor = String.IsNullOrWhiteSpace(@preview.Version) ? "" : "#" + @preview.Version;
  <li>
   @if (preview.Reference != Model.Reference) {
    <a href="@Url.Pattern(preview.DesignerKey, preview.CategoryKey, preview.Reference, Model.PageIndex)@anchor" class=vignette>
     <img src="@Url.PreviewContent(preview.DesignerKey, preview.Reference, preview.Version)" alt="@preview.Description" width=@ImageGeometry.PreviewWidth height=@ImageGeometry.PreviewHeight />
     <div class="overlay"></div>
     <div class=watermark></div>
     @*<div class=watermark><span>Ref @preview.Reference</span></div>*@
    </a>
   }
   else {
    <img src="@Url.PreviewContent(preview.DesignerKey, preview.Reference, preview.Version)" alt="@preview.Description" width=@ImageGeometry.PreviewWidth height=@ImageGeometry.PreviewHeight />
   }
  </li>
 }
</ul>
@*
 Pagination pour la liste des motifs.
*@
@if (Model.PageCount > 1) {
 @ViewHelpers.Pager(Url, Model)
}

