@using Chiffon.Entities
@using Chiffon.Infrastructure

@model IEnumerable<Designer>

<div class="home_contact grey clr">
 <h2 class="center serif serif_large">@Html.Raw(VR.HomeContact_TitleStart) <a href="mailto:contact@pourquelmotifsimone.com" class=underline>contact@pourquelmotifsimone.com</a> @Html.Raw(VR.HomeContact_TitleEnd)
 </h2>
 <ul id=designers>
  @foreach (var designer in Model) {
   <li class=serif>
    <h3 class=strike><a href="@Url.Designer(designer.Key, 1)" class=reverse>@designer.DisplayName</a></h3>
    <ul>
     <li class=img><a href="@Url.Pattern(designer.Key, designer.AvatarCategory, designer.AvatarReference, 1)" class=vignette>
      <img src="@Url.PreviewContent(designer.Key, designer.AvatarReference, designer.AvatarVersion)" alt="@designer.DisplayName" /><div class=overlay></div>
     </a></li>
     <li class=email><a class=underline href="mailto:@designer.EmailAddress">@designer.EmailAddress</a></li>
     @if (designer.WebSiteUrl.IsSome) {
      var website = designer.WebSiteUrl.Value.ToString().Replace("http://", String.Empty);
      <li class="web sansserif"><a href="//@website" rel=external target=_blank class=reverse>@website.Replace("/", String.Empty)</a></li>
     }
    </ul>
   </li>
  }
 </ul>
</div>
