@using Chiffon.Entities

@model IEnumerable<Designer>

<div class="grey clr">
 <h2 class="center serif serif_large">Vous souhaitez contactez le collectif ? <a href="mailto:contact@pourquelmotifsimone.com"
  class=underline>contact@pourquelmotifsimone.com</a>
  ou un membre du collectif ?
 </h2>
 <ul id=designers>
  @foreach (var designer in Model) {
   <li class=serif>
    <h3 class=strike><a href="@Url.Designer(designer.Key)">@designer.DisplayName</a></h3>
    <ul>
     <li class=img><a href="@Url.Pattern(designer.Key, designer.AvatarCategory, designer.AvatarReference)" rel="@CssUtility.DesignerClass(designer.Key)">
      <img src="@Url.PreviewContent(designer.Key, designer.AvatarReference)" alt="@designer.DisplayName" /></a></li>
     <li class=email><a class=underline href="mailto:@designer.EmailAddress">@designer.EmailAddress</a></li>
     @if (@designer.WebSiteUrl.IsSome) {
      var website = @designer.WebSiteUrl.Value.ToString();
      var displayValue = website.Replace("http://", String.Empty).Replace("/", String.Empty);
      <li class="web sansserif"><a href="@website" rel=external target=_blank>@displayValue</a></li>
     }
    </ul>
   </li>
  }
 </ul>
</div>
