@{
 Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home_about serif serif_large">
 <p class=no_margin>
  Inspirés par la nature, l'enfance, les fifties ou la rue, les travaux graphiques
  et illustratifs de notre collectif s'adressent aux secteurs de la lingerie, de la mode,
  de la papeterie ou de l'art de vivre.
 </p>
 <p class=no_margin>
  Nous espérons que ce catalogue saura répondre à vos attentes et à vos envies. La consultation
  est en accès privé. N'hésitez pas à demander votre mot de passe.
 </p>
 <p class=no_margin>Bonne visite.</p>
 @if (!User.Identity.IsAuthenticated) {
  <p class=text_center>
   <a href="@Url.RouteUrl(RouteName.Account.Register)" class=underline rel="@ViewBag.ModalRelation">@VR.HomeAbout_PasswordRequest</a>
  </p>
 }
 <p class=text_center>
  <a href="@Url.RouteUrl(RouteName.Home.Contact)" class=underline>@VR.HomeAbout_ContactUs</a>
 </p>
</div>

@section SecondaryNav {
 @Html.Partial(ViewName.Shared.DesignerMenu)
}