@{
 Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home_about serif serif_large">
 <div class=presentation>
  <p>
   Inspirés par la nature, l'enfance, les fifties ou la rue, les travaux graphiques
   et illustratifs de notre collectif s'adressent aux secteurs de la lingerie, de la mode,
   de la papeterie ou de l'art de vivre.
  </p>
  <p>
   Nous espérons que ce catalogue saura répondre à vos attentes et à vos envies. La consultation
   est en accès privé. N'hésitez pas à demander votre mot de passe.
  </p>
  <p>Bonne visite.</p>
 </div>
 <div class=links>
  @if (!User.Identity.IsAuthenticated) {
   <p>
    <a href="@Url.RouteUrl(RouteName.Account.Register)" rel="@ViewBag.ModalRelation">@VR.HomeAbout_PasswordRequest</a>
   </p>
  }
  <p>
   <a href="@Url.RouteUrl(RouteName.Home.Contact)">@VR.HomeAbout_ContactUs</a>
  </p>
 </div>
</div>

@section SecondaryNav {
 @Html.Partial(ViewName.Shared.DesignerMenu)
}