@using Chiffon.Infrastructure

@{
 Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home_about serif serif_large">
 @Html.HomeAboutContent((ChiffonLanguage)ViewBag.Language)
 <div class=links>
  @if (!User.Identity.IsAuthenticated) {
   <p>
    <a href="@Url.RouteUrl(RouteName.Account.Register)" rel="@ViewBag.ModalRelation">@VR.Home_About_PasswordRequest</a>
   </p>
  }
  <p>
   <a href="@Url.RouteUrl(RouteName.Home.Contact)">@VR.Home_About_ContactUs</a>
  </p>
 </div>
</div>

@section SecondaryNav {
 @Html.Partial(ViewName.Shared.DesignerMenu)
}