@using Narvalo.Web.Semantic

@model ContactViewModel

<div class=home_contact>
 @Html.ValidationSummary()
 <form method=post action="@Url.RouteUrl(Constants.RouteName.Home.Contact)" id=contact_form class=custom_form>
  @*<p id=error_container class=error_container>@VR.Account_Register_ValidationMessage</p>*@
  <ul>
   <li>
    <label for="Name">@VR.Home_Contact_Name</label>
    @Html.TextBoxFor(_ => _.Name, new { @class = "highlight", @required = "required", @placeholder = VR.Home_Contact_Name })
   </li>
   <li>
    <label for=Email>@VR.Home_Contact_Email</label>
    @Html.TextBoxFor(_ => _.Email, new { @class = "highlight", @required = "required", @type = "email", @placeholder = VR.Home_Contact_Email })
   </li>
   <li>
    <label for=Message>@VR.Home_Contact_Message</label>
    @Html.TextAreaFor(_ => _.Message, new { @class = "highlight", @required = "required", @placeholder = VR.Home_Contact_Message })
   </li>
   <li>
    <input type=submit value="@VR.Home_Contact_Submit" />
   </li>
  </ul>
  @Html.AntiForgeryToken()

  <p class=mandatory_warning>
   @VR.Account_Register_MandatoryFields
  </p>
 </form>
</div>
